body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url("../pictures/_DSC1357.jpg");
}

.display-3, .lead{
  color: white;
  text-shadow: 0 0.4rem 1.4rem 0 #fdfdfd;
}


textarea{
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid rgb(4, 71, 71);
}

.description{
  white-space: pre-wrap;
  transition: 0.5s;
}

.description:hover{
background-color:rgb(4, 71, 71);
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: rgb(4, 71, 71);
  color: white;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #818181;
  color: white;
}

.present {
  background-color: #690802;
  color: white;
}

.future {
  background-color: #014901;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(4, 71, 71);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
